// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/scss/functions";

// 2. Include any default variable overrides here
$font-family-sans-serif: "Raleway", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$primary: #e26d5c;
$secondary: #4a4e69;
$tertiary: #e8e8e8;

$grid-gutter-width: 0;

$colors: (
    "tertiary": $tertiary,
);

// 3. Include remainder of required Bootstrap stylesheets
@import "../bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../bootstrap/scss/utilities";
@import "../bootstrap/scss/buttons";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/nav";
@import "../bootstrap/scss/navbar";
@import "../bootstrap/scss/helpers";

$utilities: map-merge($utilities,
        ("color": map-merge(map-get($utilities, "color"),
                (values: map-merge(map-get(map-get($utilities, "color"), "values"),
                        ("tertiary": $tertiary),
                    ),
                ),
            ),
        ));

$utilities: map-merge($utilities,
        ("background-color": map-merge(map-get($utilities, "background-color"),
                (values: map-merge(map-get(map-get($utilities, "background-color"), "values"),
                        ("tertiary": $tertiary),
                    ),
                ),
            ),
        ));

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../bootstrap/scss/utilities/api";

// 8. Add additional custom code here
#background-top {
    height: 50vh;
    z-index: -1;
}

#intro {
    margin-top: 8vh;
}

#profile-pic {
    border-radius: 25%;
    object-fit: contain;
}

a {
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

h1 {
    font-size: 7vw;
}

h6 {
    overflow-wrap: break-word;
}

.spacing {
    letter-spacing: .2em;
}

.mb-6 {
    margin-bottom: 10vh;
}

.mb-7 {
    margin-bottom: 8vh;
}

.mobile-row {
    width: 80%;
    margin: 0 auto;
}

.title {
    font-size: 5vh;
    background: -webkit-linear-gradient(white, $primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-shadow-dark {
    text-shadow: 0px 18px #ffffff57;
}

.text-shadow-light {
    text-shadow: 0px 2px #4a4e6985;
}

.tag {
    transition: transform 1s ease;
    cursor: pointer;

    &:hover {
        cursor: pointer;
        transform: translateY(-40px);

        .exp {
            transition: opacity 1.5s ease 300ms;
            opacity: 1;
        }
    }

    .exp {
        opacity: 0;
    }
}

.screenshot {
    box-shadow: 0px 5px 29px -10px $secondary;
}

.text-justify {
    text-align: justify;
}

.icon {
    font-size: 2em;
}

.icon-link {
    transition: transform 500ms ease;

    &:hover {
        transform: rotate(15deg);
    }
}

.code-icon {
    width: 2rem;
}

.badge-style {
    border-radius: 20%;
}

#about-btn {
    width: 100%;
}

#youtube-video {
    height: 20vh;
    width: 100%;
}

#contact-bio {
    width: 75%;
}

#contact-border {
    border-bottom: 2px solid $primary;
}

#timeline {
    transform: rotate(90deg);
}

@media only screen and (min-width: 576px) {
    .title {
        font-size: 7vh;
    }

    .size-sm {
        height: 100%;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .title {
        font-size: 8vh;
    }

    #intro {
        margin-top: 15vh;
    }

    .mb-6 {
        margin-bottom: 15vh;
    }

    .mb-7 {
        margin-bottom: 20vh;
    }

    .mobile-row {
        width: 100%;
    }

    #about-btn {
        width: 50%;
        transition: width 1.5s ease;

        &:hover {
            width: 100%;
            background-color: white;
        }
    }

    #contact-bio {
        width: 50%;
    }

    #contact-border {
        border-right: 2px solid $primary;
        border-bottom: none;
    }

    #youtube-video {
        height: 40vh;
        width: 70vw;
    }

    #timeline {
        transform: rotate(90deg);
    }
}

@media only screen and (min-width: 992px) {
    .title {
        font-size: 11vh;
    }

    #youtube-video {
        height: 40vh;
        width: 60vw;
    }

    #timeline {
        transform: rotate(180deg);
    }
}

@media only screen and (min-width: 1200px) {
    .title {
        font-size: 13vh;
    }

    #youtube-video {
        height: 50vh;
        width: 60vw;
    }
}

@media only screen and (min-width: 1320px) {

    #youtube-video {
        height: 60vh;
        width: 55vw;
    }
}