* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  transition: ease 1s background;
}

.content {
  display: table;
  height: 100%;
  width: 100%;
}

/*------------ NAV BAR -----------------*/
header * {
  display: inline-block;
}

header {
  font-family: "Work Sans", sans-serif;
  padding: 50px 0px 3em 100px;
}
header a {
  text-decoration: none;
}
header #kf-logo {
  color: #2B4162;
  font-size: 2em;
  margin-right: 70px;
  animation: logo 1s ease;
  font-family: "Catamaran", sans-serif;
}
header #menu-bars {
  color: #ffffff;
  display: none;
}
header .nav-menu {
  display: flex;
}
header .nav-menu li {
  list-style-type: none;
}
header .menu-item a {
  color: #292929;
  letter-spacing: 3px;
  margin: 0 10px;
  font-size: 1.1em;
  margin: 0 30px;
}
header .menu-item a:hover {
  color: #e76e1c;
}

/* ------------ INDEX ---------------- */
#index {
  background-color: #e76e1c;
}
#index #fizzy-title {
  text-align: center;
  width: 50.5%;
}

@keyframes nameColor {
  0% {
    transform: translate(-240px);
    color: #e5e5e5;
  }
  100% {
    transform: translate(0);
    color: #000000;
  }
}
/* ---------------- ABOUT ------------------- */
@keyframes ab-img {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(50px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    transition: ease 1s transform;
  }
  100% {
    transform: scale(1.1);
    transition: ease 1s transform;
  }
}
#about-cont {
  width: 100%;
  height: 100%;
}

#ab-intro {
  width: 70%;
  text-align: center;
  display: flex;
  margin: 10em auto;
  padding-bottom: 3em;
  position: relative;
}
#ab-intro img {
  width: 8%;
  position: absolute;
}
#ab-intro #q1 {
  top: 0;
  left: 4em;
}
#ab-intro #q2 {
  bottom: 0;
  right: 6em;
}
#ab-intro h1 {
  width: 70%;
  font-size: 2em;
  font-family: "Catamaran", sans-serif;
  margin: 0 auto;
}

.sect {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.sect .ab-img {
  width: 50%;
  height: 100%;
  text-align: center;
  background-color: #2B4162;
  display: flex;
}
.sect .ab-img img {
  width: 350px;
  margin: auto;
  animation: ab-img 1.7s ease;
  animation-fill-mode: forwards;
}
.sect .ab-info {
  width: 50%;
  font-family: "Work Sans", sans-serif;
  height: 100%;
  display: flex;
  background-color: #056676;
  color: #ffffff;
}
.sect .ab-info .ab-box {
  width: 90%;
  margin: auto;
  animation: ab-img 1.7s ease;
  animation-fill-mode: forwards;
}
.sect .ab-info .ab-box h3 {
  font-family: "Catamaran", sans-serif;
  text-align: left;
  font-size: 40px;
  letter-spacing: 12px;
  margin-bottom: 20px;
}

/* ----------- PORTFOLIO --------------- */
#port {
  background: #e5e5e5;
}

#port-cont {
  width: 100%;
  margin: 0 auto;
  display: block;
}
#port-cont #dp-title {
  background-color: #ffffff;
  padding: 4em;
  font-family: "Catamaran", sans-serif;
  color: #2B4162;
}
#port-cont #dp-title h2 {
  width: 100%;
  font-size: 3em;
  letter-spacing: 0.7em;
  text-align: center;
}
#port-cont #dp-title h6 {
  padding-top: 2em;
  width: 60%;
  font-size: 2em;
  font-family: "Catamaran", sans-serif;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
}
#port-cont #principals {
  display: flex;
  align-items: center;
  height: 35em;
  padding: 4em 0;
}
#port-cont #principals #titles {
  display: block;
  width: 80%;
  padding: 4em 3em;
}
#port-cont #principals #titles #prince1 {
  background-image: url("./images/prince-bgimg1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#port-cont #principals #titles #prince2 {
  background-image: url("./images/prince-bgimg2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#port-cont #principals #titles #prince3 {
  background-image: url("./images/prince-bgimg3.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#port-cont #principals #titles #prince4 {
  background-image: url("./images/prince-bgimg4.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#port-cont #principals #titles .prince {
  height: auto;
  width: 100%;
  margin: auto;
}
#port-cont #principals #titles .prince h1 {
  width: 90%;
  height: 60%;
  font-family: "Catamaran", sans-serif;
  text-align: center;
  font-size: 4em;
  color: #ffffff;
  margin: auto;
  letter-spacing: 0.6em;
}
#port-cont #principals #titles .prince h6 {
  padding-top: 2em;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  text-align: center;
  font-size: 1.5em;
  color: #e5e5e5;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
#port-cont #principals #toggle {
  display: block;
  width: 20%;
}
#port-cont #principals button {
  outline: none;
  margin: 12px 0;
  border: none;
  display: block;
  border-radius: 50%;
  box-shadow: -7px 7px 13px -6px rgba(0, 0, 0, 0.75);
  padding: 9px;
  background-color: #e76e1c;
  transition: ease 0.3s transform;
  cursor: pointer;
}
#port-cont #principals button i {
  color: #2B4162;
  font-size: 1.5em;
}
#port-cont #principals button:hover {
  background-color: #e5e5e5;
  transform: scale(1.1);
}
#port-cont #tiles {
  width: 100%;
  margin: 0 auto;
  height: 90%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
}
#port-cont #tiles div {
  width: 100%;
  background-color: #e76e1c;
  display: flex;
  padding: 16em 0;
}
#port-cont #tiles a {
  color: #010f12;
  margin: auto;
  font-size: 4em;
  font-family: "Catamaran", sans-serif;
  text-decoration: none;
}
#port-cont #tiles .port-sect:hover a {
  color: white;
  transition: 0.2s ease-in-out;
}
#port-cont #tiles #wd:hover {
  background-color: #056676;
  transition: 0.6s ease-in-out;
}
#port-cont #tiles #gd:hover {
  background-color: #056676;
  transition: 0.6s ease-in-out;
}

/* ------------ WEBSITES --------------- */
#webportfolio-cards {
  width: 98%;
  margin: 5rem auto;
  display: block;
}
#webportfolio-cards h1 {
  font-size: 3em;
  text-align: center;
  font-family: "Catamaran", sans-serif;
  color: #2B4162;
  margin: 2em 0;
}

.proj-container {
  width: 100%;
  margin: 4em 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.proj-container .card {
  background-color: #2B4162;
  padding: 1em;
  width: 30%;
  border-radius: 30px;
  border: 1px transparent;
  box-shadow: -7px 7px 13px -6px rgba(0, 0, 0, 0.75);
}
.proj-container .card .img-cont {
  text-align: center;
  position: relative;
  overflow: hidden;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.proj-container .card .img-cont img {
  width: 50%;
  margin: 3rem auto;
}
.proj-container .card .card-info {
  color: #e5e5e5;
  display: block;
}
.proj-container .card .card-info a {
  font-family: "Catamaran", sans-serif;
  color: #e5e5e5;
  font-size: 1.5em;
}
.proj-container .card .card-info p {
  font-family: "Work Sans", sans-serif;
  margin: 1em 0;
  font-size: 1.3em;
}
.proj-container .card .tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.proj-container .card .tags p {
  font-size: 0.8em;
  font-family: "Quantico", sans-serif;
  margin: 1em 1.5em 1em 0;
  background-color: #056676;
  padding: 1em;
  border-radius: 10px;
  color: #e5e5e5;
}

/* ----------- CONTACT ------------- */
#cont-bod {
  height: 100%;
  background: #056676;
}

#bg-contact {
  height: 100vh;
  width: 50vw;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ffffff;
  z-index: -1;
}

#cont-info {
  width: 50vw;
  float: right;
}
#cont-info h2 {
  font-family: "Catamaran", sans-serif;
  margin-bottom: 3em;
  font-size: 3em;
  text-align: center;
  letter-spacing: 0.4em;
}
#cont-info #conts-div {
  margin: 0 auto;
  width: 90%;
}
#cont-info #conts-div #conts .deet {
  display: block;
  font-size: 2em;
  margin: 1em;
  color: #010f12;
  text-decoration: none;
}
#cont-info #conts-div #conts .icon {
  margin: 1em 2em;
  color: #e76e1c;
  background-color: none;
}

/* ------------------- MOBILE PHONE ------------------------- */
@media screen and (max-width: 1500px) {
  /* -------------- NAVBAR ------------- */
  header {
    width: 100%;
  }
  header #kf-logo {
    font-size: 3em;
    left: 10px;
  }
  header #menu-bars {
    display: block;
    color: #e76e1c;
    float: right;
    margin-right: 90px;
    font-size: 3em;
  }
  header .navbar {
    width: 100%;
    display: none;
  }
  header .navbar .nav-menu {
    display: block;
    width: 100%;
  }
  header .navbar .nav-menu ul {
    width: 100%;
  }
  header .navbar .nav-menu li {
    width: 90%;
    margin: 7px 0;
    text-align: center;
  }
  header .navbar .nav-menu a {
    font-size: 30px;
  }

  /* -------------- HOME --------------- */
  #index #fizzy-title {
    width: 50.8%;
  }

  /* ------------------ About ---------*/
  .sect {
    display: block;
  }

  #ab-img {
    margin: 35px auto;
  }

  #ab-img img {
    width: 350px;
  }

  .ab-info {
    text-align: justify;
    margin: 20px auto;
    width: 70%;
  }

  /* ------------- Portfolio ----------------- */
  .tags p {
    text-align: center;
    padding: 10px;
    font-size: 20px;
  }

  /* ------------- Website ------------ */
  #webportfolio-cards {
    width: 100%;
    display: block;
  }
  #webportfolio-cards .proj-container {
    width: 100%;
    margin: 2em auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  #webportfolio-cards .proj-container .card {
    width: 40%;
    margin: 4em auto;
  }
  #webportfolio-cards .proj-container .card .img-cont img {
    width: 40%;
  }
  #webportfolio-cards .proj-container #onecard {
    width: 60%;
  }

  /* ------------- Contact -------------- */
  .bg-contact {
    width: 50%;
    height: 100%;
  }

  #cont-info {
    width: 50vw;
  }
  #cont-info h2 {
    font-size: 1.5em;
  }
  #cont-info #conts-div #conts {
    padding: 35em auto;
  }
  #cont-info #conts-div #conts .deet {
    font-size: 1.4em;
  }
  #cont-info #conts-div #conts .icon {
    margin-right: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
