$prmy: #056676;
$scdry: #2B4162;
$third: #e76e1c;
$fourth: #e5e5e5;
$blck: #010f12;

$nameFont: 'Nunito', sans-serif;
$pFont: 'Work Sans', sans-serif;

// @font-face {
//     font-family: 'Anaktoria Regular';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Anaktoria Regular'), url('Anaktoria.woff') format('woff');
// }    
    
// @font-face {
//     font-family: 'Anaktoria Regular';
//     font-style: normal;
//     font-weight: normal;
//     src: local('Anaktoria Regular'), url('Anaktoria_hint.woff') format('woff');
// }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    transition: ease 1s background;
}

[data-scroll] {
    transition: opacity 1s;
}
[data-scroll="in"] {
opacity: 1;
}
[data-scroll="out"] {
opacity: 0;
}

/*------------ NAV BAR -----------------*/

header * {
    display: inline-block;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    // height: 6em;
    overflow: hidden;
    display: block;
    // position: relative;
    padding: 1.5em;
    z-index: 5;
    
    a {
        text-decoration: none;
    }

    #kf-logo {
        display: none;
    }

    .navbar .nav-menu {
        display: flex;
    
        .menu-item {
            list-style-type: none;
    
            a {
                font-family: $nameFont;
                color: $fourth;
                text-decoration: none;
                font-weight: 800;
                letter-spacing: 3px;
                font-size: 1.2vw;
                margin: 0 1em;
                position: relative;

                &:after {    
                    background: none repeat scroll 0 0 transparent;
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    background: $scdry;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0;
                }
                  
                &:hover:after { 
                    width: 100%; 
                    left: 0; 
                }
            }            
        } 
    }

    #menu-bars {
        
        display: none;
    } 
}

.mob-navbar {
    display: none;
}



/* ------------ INDEX ---------------- */

#index {
    background-color: $third;

    .menu-item a {
        color: $fourth;
    }

    #fizzy-title {
        text-align: center;
        width: 50.5%;
    }
}
  
@keyframes nameColor {
    0% {
        transform: translate(-240px);
        color: $fourth;
    }
    100% {
        transform: translate(0);
        color: #000000;
    }
}

/* ---------------- ABOUT ------------------- */

// @keyframes ab-img {
//     0% {
//         transform: translateY(0);
//         opacity: 0;
//     }
//     50% {
//         transform: translateY(50px);
//         opacity: 0.5;
//     }
//     100% {
//         transform: translateY(0);
//         opacity: 1;
//     }
// }

// @keyframes pulse {
//     0% {
//         transform: scale(1.0);
//         transition: ease 1s transform;
//     }

//     100% {
//         transform: scale(1.1);
//         transition: ease 1s transform
//     }
// }

.wh-body {
    background-color: #ffffff;
    transition: ease 1s background;
}

#ab-intro {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;

    #container {
        position: relative;
        width: 50%;
        margin: auto;

        img {
            position: absolute;
            opacity: .6;
            width: 40%;
        }
    
        #q1 {
            top: 0;
            left: 1em;
        }
    
        #q2 {
            bottom: 0;
            right: 1em;
        }

        #h1-div {
            width: 100%;
            text-align: center;
            display: flex;

            h1 {
                width: 90%;
                height: 90%;
                font-size: 2vw;
                font-family: $nameFont;
                margin: auto;
            }
        }
    }
}

.sect {
    width: 100%;
    display: block;

    // .ab-img {
    //     padding: 2em 4em;
    //     width: 50%;
    //     // height: 100%;
    //     text-align: center;
    //     background-color: $scdry;
    //     display: flex;
    
    //     img {
    //         width: 350px;
    //         margin: auto;
    //         animation: ab-img 1.7s ease;
    //         animation-fill-mode: forwards;

    //         // &:hover {
    //         //     animation: pulse 1s ease;
    //         // }
    //     }
    // }

    .ab-info {
        padding: 2em 4em;
        font-family: $pFont;
        display: flex;
        color: #ffffff;
    
        .ab-box {
            width: 50%;
            height: 50%;
            margin: auto;
            // animation: ab-img 1.7s ease;
            // animation-fill-mode: forwards;

            h3 {
                font-family: $nameFont;
                text-align: left;
                font-size: 3vw;
                letter-spacing: 12px;
                margin-bottom: 20px;
            }

            h4 {
                margin: 1em 0 .4em 0;
            }
        }
    }
}

/* ----------- PORTFOLIO --------------- */

#myVideo {
    position: fixed;
    object-fit: contain;
    object-position: center;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -5;
    opacity: .5;
    // filter: blur(5px);
}

#port {
    background: $third;
}

#port-cont {
    margin-top: 6em;
    display: block;

    #dp-title {
        width: 100%;
        height: 100vh;
        // background-color: #ffffff;
        font-family: $nameFont;
        color: $fourth;
        display: flex;

        #title-container {
            width: 100%;
            height: 50%;
            // margin: auto;
            margin-top: 3em;
            text-align: center;

            h2 {
                width: 50%;
                font-size: 8vw;
                letter-spacing: .4em;
                text-align: left;
                margin-left: 0;
                padding-left: .5em;
            }
    
            h6 {
                padding-top: 2em;
                width: 60%;
                font-size: 3vw;
                font-family: $nameFont;
                text-align: center;
                margin: 0 auto;           
                font-weight: 400;
            }

            #arrows {
                width: 20%;
                margin-top: 4em;
            }
        }
    }

    #principles {
        // display: flex;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;

        #principle-container {
            width: 90%;
            height: 80vh;
            margin: auto;
            display: flex; 
            
            #principle-wrapper {    
                width: 90%;
                height: 80vh;
                margin: auto;

                #titles {
                    // display: block;
                    display: flex;
                    width: 80%;
                    height: 100%;
                    margin: auto;
                    // height: 100%;
        
                    #prince1 {
                        background-image: url("./images/prince-bgimg1.png");
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
        
                    #prince2 {
                        background-image: url("./images/prince-bgimg2.png");
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
        
                    #prince3 {
                        background-image: url("./images/prince-bgimg3.png");
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
        
                    #prince4 {
                        background-image: url("./images/prince-bgimg4.png");
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
        
                    .prince {
                        // height: auto;
                        // width: 100%;
                        // margin: auto;
                        margin: auto;
        
                        h1 {
                            width: 90%;
                            height: 60%;
                            font-family: $nameFont;
                            text-align: center;
                            font-size: 4vw;
                            color: #ffffff;
                            margin: auto;
                            letter-spacing: .6em;
                        }
        
                        h6 {
                            padding-top: 2em;
                            font-family: $pFont;
                            font-weight: 200;
                            text-align: center;
                            font-size: 2vw;
                            color: $fourth;
                            margin: auto;
                            text-transform: uppercase;
                            letter-spacing: .2em;
                        }
                    }
                }
        
                #toggle {
                    // display: block;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    margin: 0 auto;

                    button {
                        outline: none;
                        margin: 1em;
                        border: none;
                        display: block;
                        border-radius: 50%;
                        box-shadow: -7px 7px 13px -6px rgba(0,0,0,0.75);
                        padding: 9px;
                        background-color: $third;
                        transition: ease .3s transform;
                        cursor: pointer;
            
                        i {
                            color: $scdry;
                            font-size: 1.5vw;
                        }
            
                        &:hover {
                            background-color: $fourth;
                            transform: scale(1.1);
                        }
                    }
                }     
            }
        }     
    }    

    #tiles {
        width: 100%;
        margin-top: 20em;
        display: flex;
        align-content: center;
        justify-content: center;
        // display: inline-grid;
        // grid-template-columns: 1fr 1fr;

        .port-sect {
            width: 40%;
            background-color: $third;
            display: flex;
            padding: 14em 0;
            margin: 0 2em;
            border-radius: 4px;
            box-shadow: -3px 3px 15px 1px #ffffff;

            &:hover {
                background-color: $prmy;
                transition: .6s ease-in-out;
            }

            &:hover a {
                color: white;
                transition: .2s ease-in-out;
            }

            a {
                color: $blck;
                margin: auto;
                font-size: 3vw;
                font-family: $nameFont;
                text-decoration: none;
            }
        }
    }

    #big-insta-div {
        margin-top: 5em;

        #insta-container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content:center;

            #fizzy-insta {
                margin: 2em;
            }
        }
    }

}

/* ------------ WEBSITES --------------- */

// @keyframes cardAnimate {
//     0% {
//         transform: scale();
//     }
//     50% {
//         transform: scale(.7);
//     }
//     100% {
//         transform: translateY(1);
//     }
// }

#webportfolio-cards {
    width: 100%;
    margin: 9em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
        background-color: $fourth;
        padding: 1em;
        width: 25%;
        margin: 2em 4em;
        border-radius: 4px;
        border: 1px transparent;
        box-shadow: -7px 7px 13px -6px rgba(0,0,0,0.75);
        transition: ease-in-out .5s transform;
        
        &:hover {
            transform: scale(1.1);
        }

        .img-cont {
            text-align: center;
            position: relative;
            overflow: hidden;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
        
            img {
                width: 50%;
                margin: 3rem auto;
            }
        }

        .card-info {
            color: $fourth;
            display: flex;

            a {
                font-family: $nameFont;
                color: $scdry;
                font-size: 2vw;
                text-decoration: none;
            }

            h2 {
                color: $scdry;
                font-family: $nameFont;
                font-size: 2vw;
            }
            
            p {
                font-family: $pFont;
                margin: 1em 0;
                font-size: 1vw;
                color: $scdry;
            }     
        }

        .tags {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        
            p {
                font-size: .8vw;
                font-family: 'Quantico', sans-serif;
                margin: 1em 1.5em 1em 0;
                background-color: $scdry;
                padding: 1em;
                border-radius: 10px;
                color: $fourth;
            }
        }
    }
}

/* ----------- CONTACT ------------- */


// #bg-contact {
//     height: 100vh;
//     width: 50vw;
//     position: fixed;
//     top: 0;
//     right: 0;
//     background-color: #ffffff;
//     z-index: -1;
// }

#contact-bod {
    width: 100%;
    height: 100vh;
    // margin-top: 6em;
    display: flex;

    #cont-info {
        width: 50vw;
        height: 60vh;
        margin: auto;
    
        h2 {
            font-family: $nameFont;
            margin-bottom: 2em;
            font-size: 3vw;
            text-align: center;
            letter-spacing: .4em;
        }
    
        #conts-div {
            margin: 0 auto;
            width: 90%;
    
            #conts {
                min-width: 90%;
    
                .deet {
                    display: block;
                    font-size: 1.5vw;
                    margin: 1em 0;
                    color: $blck;
                    text-decoration: none;
                    font-family: $pFont;
                }
    
                .icon {
                    text-align: center;
                    width: 10%;
                    margin: 1em 1.3em;
                    color: $third;
                    background-color: none;
                }
            }
        }
    }
}

/* ------------------- TABLET VIEW ------------------------- */
  
// @media only screen and (max-width: 1024px) {
//     #ab-intro {
//         #q1 {
//         left: 6em;
//         }

//         #q2 {
//             right: 8em;
//         }
//     }

//     #webportfolio-cards .card {
//         width: 50%;
//     }

//     #port-cont #principles #titles .prince h1 {
//         letter-spacing: 0.3em;
//     }
// }



/* ------------------- MOBILE PHONE ------------------------- */
  
@media only screen and (max-width: 1200px) {

    /* -------------- NAVBAR ------------- */

    header {
        width: 100%;
        height: 12em;
        position: relative;

        .navbar {
            display: none;
        }

        #menu-bars {
            display: block;
            color: $fourth;
            font-size: 6vw;
            position: absolute;
            top: 1.5em;
            left: 1.5em;
            z-index: 6;
        }
    }

    .mob-navbar {
        position: absolute;
        text-decoration: none;
        width: 100%;
        padding-bottom: 3em;
        // margin: 0 auto;
        // margin-top: 3em;
        display: none;
        z-index: 6;

        .mob-nav-menu {
            display: block;
            width: 100%;

            .mob-menu-item {
                width: 100%;
                border-bottom: solid 1px #2b416242;
                text-align: center;
                background-color: #ffffff;
                padding: 1em;
            }

            .mob-text {
                font-family: $nameFont;
                color: $scdry;
                text-decoration: none;
                font-size: 4vw;
            }
        }
    }

    /* -------------- HOME --------------- */

    #index #fizzy-title {
        width: 70%;
    }

    /* ------------------ About ---------*/

   
    #ab-intro {
        #container {
            width: 80%;
            #h1-div {
    
                h1 {
                    width: 90%;
                    height: 90%;
                    font-size: 5vw;
                    font-family: $nameFont;
                    margin: auto;
                }
            }
        }
    }

    .sect {
        display: block;

        .ab-info {
            text-align: justify;
            width: 100%;
            padding: 1em;

            .ab-box {
                width: 80%;
                height: 50%;
                margin: auto;

                h3 {
                    font-size: 5vw;
                }
            }
        }
    }

    /* ------------- Portfolio ----------------- */

    #port-cont {

        #dp-title {
            padding: 2em;

            #title-container {

                h2 {
                    width: 80%;
                    padding: 0;
                    margin: auto;
                    font-size: 13vw;
                    text-align: center;
                }
    
                h6 {
                    font-size: 1.5vw;
                }
            }
        }

        #principles {
            #principle-container {
                width: 95%;
                #principle-wrapper {
                    width: 95%;
                    #titles {  
                        width: 98%;  
                        .prince {
                            h1 {
                                overflow-wrap: break-word;
                                font-size: 7vw;
                                text-align: center;
                                letter-spacing: 0;
                            }

                            h6 {
                                font-size: 6vw;
                            }
                        }
                    }

                    #toggle {
                        width: 80%;

                        button {
                            i {
                                font-size: 5.5vw;
                            }
                        }
                    }
                }
            }
        }

        #tiles {
            display: block;
            text-align: center;
            margin: 0 auto;

            .port-sect {
                padding: 6em 0;
                width: 60%;
                margin: 2em auto;

                a {
                    font-size: 5vw;
                }
            }
        }
    }    
    
    

    /* ------------- Website ------------ */

    #webportfolio-cards {
        width: 100%;
        display: block;

        .card {
            width: 70%;
            margin: 4em auto;

            .img-cont img {
                width: 40%;
            }

            .card-info {
                h2 {
                    font-size: 5vw;
                }

                p {
                    font-size: 3vw;
                }
            }

            .tags p {
                text-align: center;
                padding: 10px;
                font-size: 2vw;
            }
        }
    }    

    /* ------------- Contact -------------- */
        
    #contact-bod {
        height: 100%;
        
        #cont-info {
            width: 90vw;
            margin-top: 3em;

            h2 {
                font-size: 8vw;
            }

            #conts-div #conts {

                .deet {
                    font-size: 3.5vw;
                }

                .icon {
                    text-align: center;
                    margin: 1em .5em;
                }
            }
        }
    }
}