/* ------------ INDEX ---------------- */

* {
    margin: 0px;
    padding: 0px;
}

a {
    font-family: 'Crimson Text', serif;
    color: black;
    text-decoration: none;
}

#profile-intro {
    display: flex;
    justify-items: center;
    width: 50%;
    margin: 7em auto;
    padding: 100px 0;
}

#intro h1 {
    font-family: 'Crimson Text', serif;
    padding: 0 30px;
}

#profile-pic img {
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 9px 0px #000000;
}

#profile-card h4 {
    text-align: justify;
}

/*------------ NAV BAR -----------------*/


header {
    background-color: #ffffff;
    width: 97%;
    margin: 20px auto;
    padding: 0;
    font-family: 'Crimson Text', serif;
    color: black;
}

header * {
    display: inline-block;
    font-weight: 700;
}

#kf-logo {
    font-size: 1.4em;
    margin-right: 20px;
}

#menu-bars {
    display: none;
}

.nav-menu {
    display: flex;
}

.nav-menu li {
    list-style-type: none;
}

.menu-item a {
    margin: 0 10px;
    font-size: 1.1em;
    margin: 0 30px;
}

.text:hover {
    text-shadow: 0px 0px 10px 0px #d1a2e7;
}

.nav-menu li a:hover {
    text-shadow: cyan;
}


/* ------------ PORTFOLIO --------------- */
#portfolio-info {
    font-family: 'Crimson Text', serif;
    width: 80%;
    text-align: center;
    margin: 40px auto;
    margin-bottom: 60px;
}

#portfolio-info p {
    font-size: 1.2em;
}

#portfolio-cards {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;

}

.web-card {
    margin: 0px 90px;
    padding: 20px;
    width: 15%;
    font-family: 'Crimson Text', serif;
    border-color: none;
    box-shadow: 0px 0px 10px 0px #e6e6e6;
    text-align: center;
}

.card-body{
    text-align: left;
}

.card-title{
    font-size: 1.3em;
}
#hamsa-img {
    width: 100px;
    margin: 50px auto;
    text-align: center;
}

#cb-img {
    width: 190px;
    margin: 60px auto;
}

.card-text{
    margin:10px 0;
}

.kf-btn {
    background-color: #C6C6C6;
    padding: 6px 8px;
    border-radius: 3px;
    color: white;
}

.kf-btn:hover {
    background-color: #ffffff;
    color: #C6C6C6;
    border-color: #C6C6C6;
}


/* ---------------- ABOUT ------------------- */

#intro h3 {
    font-family: 'Crimson Text', serif;
    padding: 0 50px;
    text-align: justify;
}

/* ------------------- MOBILE PHONE ------------------------- */
  
@media screen and (max-width: 1000px) {

    .navbar {
        width: 100%;
        display: none;
    }
    
    .nav-menu {
        display: block;
        width: 100%;
    }

    .nav-menu ul {
        width: 100%;
    }
    .nav-menu li {
        width: 100%;
        margin: 7px 0;
        text-align: center;
    }

    #menu-bars {
        display: block;
        color: black;
        float: right;
        margin-right: 10px;
    }

    .web-card {
        margin: 10px auto;
        width: 70%;
    }
}