$prmy: #056676;
$scdry: #2B4162;
$third: #e76e1c;
$fourth: #e5e5e5;
$blck: #010f12;

$nameFont: 'Nunito', sans-serif;
$pFont: 'Work Sans', sans-serif;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    transition: ease 1s background;
}

[data-scroll] {
    transition: opacity 1s;
}
[data-scroll="in"] {
opacity: 1;
}
[data-scroll="out"] {
opacity: 0;
}

/*------------ NAV BAR -----------------*/

header * {
    display: inline-block;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    // height: 6em;
    overflow: hidden;
    display: block;
    // position: relative;
    padding: 1.5em;
    z-index: 5;
    
    a {
        text-decoration: none;
    }

    #kf-logo {
        display: none;
    }

    .navbar .nav-menu {
        display: flex;
    
        .menu-item {
            list-style-type: none;
    
            a {
                font-family: $nameFont;
                // color: $fourth;
                text-decoration: none;
                font-weight: 800;
                letter-spacing: 3px;
                font-size: 1.2vw;
                margin: 0 1em;
                position: relative;

                &:after {    
                    background: none repeat scroll 0 0 transparent;
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    background: $scdry;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0;
                }
                  
                &:hover:after { 
                    width: 100%; 
                    left: 0; 
                }
            }            
        } 
    }

    #menu-bars {        
        display: none;
    } 
}

.mob-navbar {
    display: none;
}



/* ------------ INDEX ---------------- */

#index {
    background-color: $third;

    .menu-item a {
        color: $fourth;
    }

    #fizzy-title {
        text-align: center;
        width: 50.5%;
    }

    h1 {
        font-family: $nameFont;
        color: white;
    }
}
  
@keyframes nameColor {
    0% {
        transform: translate(-240px);
        color: $fourth;
    }
    100% {
        transform: translate(0);
        color: #000000;
    }
}