/* ------------ INDEX ---------------- */

* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    font-family: 'Crimson Text', serif;
}

#profile-intro {
    display: flex;
    justify-items: center;
    width: 50%;
    margin: 7em auto;
    padding: 100px 0;
}

#intro h1 {
    font-family: 'Crimson Text', serif;
    padding: 0 30px;
}

#profile-pic img {
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 9px 0px #000000;
}

#profile-card h4 {
    text-align: justify;
}

/*------------ NAV BAR -----------------*/


header {
    background-color: #ffffff;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Crimson Text', serif;
    color: black;
}
.navbar ul.nav-menu {
    font-family: 'Crimson Text', serif;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 40px 0px;
    padding-left: 20px;
}

.menu-item {
    padding: 0px 30px;
}

#co-name {
    padding-right: 20px;
}

.text {
    font-weight: 700;
    color: #000000;
    text-align: center;
    text-decoration: none;
}

.menu-item a.text:hover {
    color: white;
    text-shadow: 1px 1px #d1a2e7;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
} /* stay active while menu drops down? */

/* ------------ PORTFOLIO --------------- */

.web-card {
    margin: 0px 90px;
    font-family: 'Crimson Text', serif;
    border-color: none;
    box-shadow: 0px 0px 10px 0px #d1a2e7;
}

#hamsa-img {
    width: 100px;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}

#cb-img {
    width: 150px;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}

.kf-btn {
    background-color: #d1a2e7;
    border-color: white;
}

.kf-btn:hover {
    background-color: #ffffff;
    color: #d1a2e7;
    border-color: #d1a2e7;
}

#portfolio-info {
    font-family: 'Crimson Text', serif;
    width: 80%;
    text-align: justify;
    margin: 30px auto;
    margin-bottom: 70px;
}

#portfolio-cards {
    display: flex;
}

/* ---------------- ABOUT ------------------- */

#intro h3 {
    font-family: 'Crimson Text', serif;
    padding: 0 50px;
    text-align: justify;
}

/* ------------------- MOBILE PHONE ------------------------- */
  
@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .menu-bars {
        color: black;
        right: 20px;
    }
}