* {
    margin: 0;
    padding: 0;
}

.home {
    background-color: #63abbd;
    font-family: 'Raleway', sans-serif;
    color: white;
    width: 100%;
    height: 100%;
    position: relative;
}

#bg-img {
    position: fixed;
    top: 0px;
    right: 0;
    height: 100%;
    width: 38%;
    z-index: -2;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* .bg-img {
    background-image: url(man-carrying-woman-with-hot-air-balloons-background-3889705.jpg);
    height: 100%;
    opacity: .8;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .bg-img {
    width: 1000px;
    height: 1200px;
    background-image: url(man-carrying-woman-with-hot-air-balloons-background-3889705.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
} */

body .moon {
    background-image: url(full-moon-in-blue-sky-4321944.jpg);
    background-position: center;
    background-size: cover;
}

/* ------------------------------ HEADER ----------------------------------- */

header {
    background-color: #ccdee4e8;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #6cabbd;
}

/* .bg-colour {
    background-color: white;
    opacity: .7;
} */

/* nav {
    width:100%;
    background-color: #ffffff;
    opacity: .7;
    margin: 0;
    padding: 0;
} */

.navbar ul.nav-menu {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 15px 0px;
}

.logo {
    font-size: 50px;
    padding: 16px 30px;
    color: #6cabbd;
}

.logo:hover {
    color: #96bcc7;
}

#co-name {
    padding-right: 20px;
}

.text {
    padding: 37px 30px;
    font-weight: 700;
    color: #6cabbd;
    text-align: center;
    text-decoration: none;
}

.menu-item a.text:hover {
    background-color: #6cabbd;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
} /* stay active while menu drops down? */

.drop-menu {
    position: absolute;
    z-index: 1;
    width: 100%;
    border-radius: 50px;
}

.drop-content {
    display: none; 
    background-color: #ffffff;
    opacity: .7;
    padding: 20px 0px;
    text-align: center;
    margin: 15px 0px;
    border-radius: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.drop-content:nth-child(1) {
     margin-top: 50px;
}

.drop-content a {
    padding: 0px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    color: #6cabbd;
}

.dropdown:hover .drop-content {
    display: block;
}

.drop-content:hover {
    background-color: #0B5D68;
}

.drop-content:hover a {
    color: #6cabbd;
    color: white;
}

#searchbar {
    font-family: 'Raleway', sans-serif;
    color: #6cabbd;
    background-color: white;
    padding: 15px 20px;
    margin-left: 20px;
    border: 2px #6cabbd solid;
    border-radius: 20px;
    outline: none;
}

#searchbar:focus {
    border: 2px #0B5D68 solid;
    border-radius: 20px;
}

#login-button {
    width: 100%;
    text-align: right;
}

.login {
    padding: 10px 20px;
    color: #6cabbd;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
    margin-right: 15px;
    box-shadow: 8px 5px 15px #888888;
}

.login:hover {
    background-color: #6cabbd;
    color: white;
    cursor: pointer;
}

.sign-up {
    text-align: right;
    margin-top: 5px;
}

.sign-up h5 {
    padding: 10px;
}

.sign-up a {
    color: #6cabbd;
    text-decoration: none;
}

.sign-up a:hover {
    color: #0B5D68;
    text-decoration: underline;
}

/* --------------------------- CARDS -------------------------------- */

.card {
    width: 18%;
    margin: 5% 5%;
    margin-top: 10%;
    background-color: ghostwhite;
    padding: 15px;
    border-radius: 25px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: inline-block;
    position: relative;
    box-shadow: 0px 0px 9px 0px #ffffff;
    opacity: .85;
}

.edit-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #0ACBE2;
}

.card-header {
    width: 100%;
    display: inline-block;
    text-align: center;
    color: #0B5D68;
}

.card-header img {
    width: 30%;
    border-radius: 60px;
    padding: 10px;
}

.location {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkgray;
    margin: 10px 0px;
}

.bio {
    margin: 20px;
    text-align: center;
    color: #0B5D68;
}

.membership-label {
    width: 100%;
    text-align: left;
}

.membership-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.member-type {
    display: flex;
    align-items: center;
    color: #d4af37;
}

.membership-info button {
    padding: 7px;
    margin: 0px 10px;
    background-color: ghostwhite;
    color: #30bf4f;
    border-radius: 10px;
    border: 1px solid #30bf4f;
    box-shadow: 0px 0px 9px 0px #A5A9A9;
}

.connect-label {
    margin: 30px 10px 20px 0px;
    text-align: center;
    color: darkgray;
}

.media-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.icon {
    color: darkgray;
    margin: 10px 10px;
    padding: 10px;
    border: 1px darkgray solid;
    border-radius: 200px;
}

/* ---------------------------- FOOTER ---------------------------- */

footer {
    width: 100%;
    background-color: #ccdee4e8;
    /*opacity: .7;*/
    font-family: 'Raleway', sans-serif;
    color: #6cabbd;
}

.footer-logo {
    display: block;
    font-size: 70px;
    color: #6cabbd;
    margin: 50px;
}

.foot-logo:hover {
    color: #96bcc7;
}

.info-cont {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.foot-info {
    margin: 50px;
}

.foot-info h3:hover, i:hover {
    color: #0B5D68;
    cursor: pointer;
}

.foot-info li:hover {
    color: #0B5D68;
    text-decoration: underline;
    cursor: pointer;
}

.foot-info h3 {
    margin-bottom: 20px;
}

.foot-info ul {
    list-style-type: none;
}

.foot-info i {
    margin: 10px;
}

.foot-info i:nth-child(1) {
     margin-left: 0px;
}

.big-headfoot-div {
    display: flex;
    justify-content: space-between;
}

.copyright {
    text-align: right;
    padding: 10px;
}

.kf-return{
    position: fixed;
    bottom:20px;
    left:20px;
}

.kf-return a{
    font-size: 2em;
    color:white;
}

/* ------------------------------------ HOME -------------------------------- */

.home-body {
    padding: 200px 0px;
    width: 62%;
    display: flex;
    align-items: center;
    text-align: center;
}

.whi-cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bracket img {
    height: 400px;
}

#br1 {
    margin-right: 30px;
}

#br2 {
    margin-left: 30px;
}

#motto {
    display: block;
    text-align: center;
    padding: 80px 0px;
}

/* .text-tran:hover {
    transition-timing-function: ease-in-out;
    transform: scale(1.2);
    transition-duration: 1s;
} */

.text-tran {
    transition: font-size 0.8s ease;
    cursor: default;
    padding: 30px 70px;
}

#mot1:hover {
    font-size: 24px;
}

#mot2:hover {
    font-size: 28px;
}

#mot3:hover {
    font-size: 37px;
}

/* .img-cont {
    width: 30%;
    padding: 30px;
    text-align: center;
} */

/* .img-cont img {
    width: 400px;
    height: 600px;
    border-radius: 200px;
    padding: 0px 40px;
    box-shadow: 15px 2px 10px white;
} */

/* -------------------------- TEMPLATE PROFILE ---------------------- */ 

#template-card {
    height: 100px;
    width: 60px;
}

/* ------------------------- ABOUT ------------------------------------*/

.about-body {
    width: 62%;
}

.about-body h4 {
    width: 40%;
    margin: 146px auto;
    text-align: justify;
}